{
  "presets": [
    ["@babel/preset-env", { "modules":  "commonjs", "targets": { "node": true } }],
    ["@babel/preset-typescript"]
  ],
  "ignore": ["node_modules"],
  "comments": false,
  "minified": true
}